.create-container {
    margin-top: 8%;
    margin-left: 10%;
    padding-right: 10%;
    margin-bottom: 3rem;
}
// -----------

.flashcard-item {
    background-color: $white-color;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.flashcard-item h5 {
    font-size: 18px;
    font-weight: bold;
}

.progress-bar {
    background-color: $color-gray-200;
}

.progress {
    height: 0.2rem;
    margin-top: 10px;
}

.create-container .create_div:nth-child(1) {
    h1 {
        color: $white-color;
        font-weight: bold;
    }
    display: flex;
    flex: 0.5 0.5;
    justify-content: space-between;
}
.create-container .create_div:nth-child(2) {
    display: flex;
    gap: 2rem;
    margin: 2rem auto;
    input {
        background-color: $gray-100-gray-700;
        border: none;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 2rem;
        color: $white-color;
        width: 100%;
        margin: 0 auto;
    }
    input:focus {
        outline: none;
        box-shadow: 0 0 5px $main-color;
    }
    input::placeholder {
        color: gray;
    }

    input:last-child {
        margin-bottom: 0;
    }
    .create_div-item {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        button {
            border: 2px solid $gray-100-gray-700;
            border-radius: 50%;
            padding: 1rem;

            background-color: transparent;
        }
    }
}
.flashcard-ipt {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.flashcard-ipt-item {
    flex: 0.47;
    width: 45%;
}
.flashcard-ipt-item {
    display: flex;
    width: 100%;
    input {
        width: 100%;
        border: 0;
        border-bottom: 3px solid $gray-100-twilight-900;
    }
    input:hover {
        border-bottom: 5px solid $main-color;
    }
}
.flashcard-container {
    button {
        color: $black-color;
    }
    button:hover {
        color: $white-color;
        background-color: $main-color;
    }
}
