.caro-item:hover {
    cursor: pointer;
    height: 90%;
    border-radius: 4rem;
    // padding: 3rem;
    // .caro-item h3 {
    //     padding: 2rem;
    // }
    // .caro-item img {
    //     padding: 2rem;
    // }
}

