.learn-container {
    margin-top: 8%;
    margin-left: 10%;
    padding-right: 10%;
    .btn {
        color: $black-color;
    }
}
.learn-card {
    background-color: $white-color;
    border: 0.2rem solid $black-color;
    border-radius: 2rem;
    width: 50%;
    height: 35%;
    padding: 1rem 2rem;
    margin: 0 auto;
}
