.caro-inner {
    display: flex; /* Kích hoạt flexbox */
    flex-wrap: nowrap; /* Không cho phép quấn xuống dòng */
    overflow-x: scroll; /* Kích hoạt cuộn ngang */
    overflow-y: hidden; /* Ẩn cuộn dọc */
    scrollbar-width: none;
    // width: 100%;
    // height: 100%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
}
/* Tùy chỉnh thanh cuộn ngang */
.caro-inner::-webkit-scrollbar {
    display: none;
}

.caro-item {
    transition: padding 0.3s ease; /* Hiệu ứng chuyển đổi padding */
    flex: 0 0 12%; /* 12% của chiều rộng cha */
    background-color: aliceblue;
    display: inline-block;
    height: 40rem;
    width: 12rem;
    border-radius: 3rem;
    border: 0;
    position: relative;
    margin: 3rem 1rem;
}
.caro-inner .caro-item:nth-child(1),
.caro-inner .caro-item:nth-child(2),
.caro-inner .caro-item:nth-child(3),
.caro-inner .caro-item:nth-child(4),
.caro-inner .caro-item:nth-child(5) {
    flex: 0 0 30%; /* Tùy chỉnh chỉ phần tử đầu chiếm nhiều hơn */
}

.caro-inner {
    scrollbar-width: thin; /* Chỉ Firefox */
    scrollbar-color: #ccc transparent;
}
.caro-inner::-webkit-scrollbar {
    height: 8px;
}
.caro-inner::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.img-card {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35rem;
    width: 12rem;
    border-bottom-right-radius: 2rem;
}
.card-item h3 {
    text-align: center;
    margin: 2rem auto;
    padding-top: 1.5rem;
    font-size: 2.3rem;
    font-weight: bold;
    color: $black-color;
}
// -------part two-------------
.container-part234 {
    background-color: $white-color;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.content-part--two,
.content-part--three,
.content-part--four {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.content-part--five {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.img-part,
.text-part {
    text-align: center;
    width: 49%;
}
.text-part {
    text-align: left;
}
.text-part h3 {
    font-size: 3.5rem;
    font-weight: bold;
}
.img-part img {
    width: 100%;
    height: fit-content;
}
.container-part5 {
    background-color: #edefff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.content-part--two .text-part:nth-child(2),
.content-part--three .img-part:nth-child(2),
.content-part--four .text-part:nth-child(2),
.content-part--five .img-part:nth-child(2) {
    margin-left: 3rem;
}

/* Các liên kết tải ứng dụng */
.app-promo__links {
    margin-top: 3rem;
    display: flex; /* Sử dụng flexbox */
    justify-content: flex-start; /* Căn giữa các nút */
    gap: 2rem; /* Khoảng cách giữa các liên kết */
}

/* Liên kết đến các cửa hàng ứng dụng */
.app-link img {
    width: 150px; /* Chiều rộng hình ảnh */
    border-radius: 0.5rem; /* Bo góc */
    transition: transform 0.3s ease; /* Hiệu ứng khi hover */
}

/* Hiệu ứng hover */
.app-link img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
}
.text-part p,
.text-part button {
    margin-top: 2rem;
}
.text-part button {
    align-items: center;
    padding: 1rem 3rem;
}
