$main-color: #4255ff;
$white-color: #ffff;
@mixin gird {
    /* nếu kichthuoc be hơn 1200px tự điều chỉnh */
    max-width: 95%;
    /* căn giữa */
    margin: 0 auto;
}
* {
    /* khi padding,... không bị thay đổi kích thước */
    box-sizing: inherit;
    font-size: medium;
    outline: none;
    color: black;
}
html {
    /* 1rem=10px */
    font-size: 62.5%;
    /* độ cao khoảng cách các dòng chữ */
    line-height: normal;
    /* font chữ  */
    font-family: "Roboto", sans-serif;
    /* khi padding,... không bị thay đổi kích thước */
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
// .title-font {
//     font-family: "Roboto", sans-serif;
//     font-weight: 40rem;
//     font-style: normal;
//     line-height: normal;
//     font-size: 5rem;
//     // color: $color_other;
//     margin: auto;
// }
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    background-color: $main-color;
    color: $white-color;
    padding: 1rem;
    border-radius: 1rem;
    height: 4.5rem;
    border: 0;
    margin: 0 auto;
    padding: 0.5rem 3rem;
    align-items: center;
}
.icon-main {
    color: $main-color;
    padding: 0;
}
.icon-white {
    color: $white-color;
    padding: 0;
}
