@charset "UTF-8";
* {
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: inherit;
  font-size: medium;
  outline: none;
  color: black;
}

html {
  /* 1rem=10px */
  font-size: 62.5%;
  /* độ cao khoảng cách các dòng chữ */
  line-height: normal;
  /* font chữ  */
  font-family: "Roboto", sans-serif;
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: #4255ff;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  height: 4.5rem;
  border: 0;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  align-items: center;
}

.icon-main {
  color: #4255ff;
  padding: 0;
}

.icon-white {
  color: white;
  padding: 0;
}

.bar-choose {
  border: 0.3rem solid #4255ff;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
}

button.or {
  cursor: pointer;
  background-color: #ffcd1f;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  height: 4.5rem;
  border: 0;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  align-items: center;
}

.login-container, .res-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 0;
}

.par-login, .par-res {
  height: 100vh;
  display: flex;
  flex: 50% 1;
  padding-left: 0;
}

.par-login img,
.par-res img {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  padding-left: 0;
}

.var-login,
.var-res {
  flex: 50% 1;
}

.bar-lo-re {
  display: flex;
  width: 45rem;
  padding: 5rem 3rem 1rem;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.bar-lo,
.bar-re {
  width: 30%;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 0rem 3rem;
  width: 45rem;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-form-row {
  background-image: url(../imgs/circle-image-1.jpg);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-form-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.logo-item {
  margin-left: 1rem;
  height: 4rem;
  width: 16rem;
  align-items: center;
}

.title-contain {
  text-align: center;
  margin-top: 13rem;
  line-height: 2.5rem;
}

.title-contain h1 {
  font-size: 4rem;
  font-weight: bold;
}

.title-contain p {
  margin: 2rem 4rem;
  font-size: 2.3rem;
  line-height: 3.5rem;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.nav-container {
  height: 11%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.nav-container :nth-child(1) {
  flex: 0.1;
}

.nav-container :nth-child(2) {
  flex: 0.9;
}

.nav-item {
  text-align: center;
  padding: 1rem 0rem;
}

.nav-item a,
.nav-item button {
  font-size: 1.5rem;
  padding: 0rem 1rem;
}

/* Áp dụng tỷ lệ cho từng box */
.nav .nav-item:nth-child(1),
.nav .nav-item:nth-child(5) {
  flex: 0.14; /* Các phần tử chiếm 12% */
}

.nav .nav-item:nth-child(2) {
  flex: 0.09;
}

.nav .nav-item:nth-child(4) {
  flex: 0.13;
}

.nav .nav-item:nth-child(3) {
  flex: 0.5;
}

.search-item {
  align-items: center;
  background-color: rgba(225, 232, 237, 0.5764705882); /* Màu nền nhạt */
  border-radius: 1rem;
  padding: 0.8rem 2.5rem;
  width: 100%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng nổi nhẹ */
}

.search-item input {
  width: 100%;
  border: none;
  outline: none;
  flex: 1; /* Để input giãn đầy khoảng trống */
  font-size: 14px;
  color: #707070; /* Màu chữ xám đậm */
  background-color: transparent; /* Loại bỏ màu nền */
}

.gird {
  max-width: 100%;
  /* căn giữa */
  margin: 0 auto;
}

.under-header--border {
  background-color: rgba(225, 232, 237, 0.5764705882);
  border: 1 solid rgba(225, 232, 237, 0.5764705882);
  border-radius: 3rem;
  height: 18rem;
  margin: 2rem 5rem;
  padding: 2rem;
  text-align: center;
}

.header__icon {
  justify-content: space-around;
  display: flex;
}

.icon--code {
  font-size: 5rem;
  padding: 2rem;
  color: rgba(30, 29, 29, 0.696);
}

.header {
  position: relative;
}

/* Ô tròn ảnh */
.circle-image {
  position: absolute;
  width: 10rem; /* Chiều rộng hình tròn */
  height: 10rem; /* Chiều cao hình tròn */
  border-radius: 50%; /* Biến thành hình tròn */
  background-size: cover; /* Hiển thị ảnh vừa với ô */
  background-position: center; /* Căn giữa ảnh */
  border: 0.1rem solid white; /* Viền trắng */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translate(-50%, -50%); /* Căn giữa */
}

/* Tạo nhiều dây đỏ và vị trí ảnh */
.circle-wire:nth-child(1) {
  --wire-index: 1;
  left: 12%; /* Dây đầu tiên */
  top: 12%;
  animation-duration: 4s;
}

.circle-wire:nth-child(2) {
  --wire-index: 2;
  left: 25%; /* Dây thứ hai */
  top: 70%;
  animation-duration: 2s;
}

.circle-wire:nth-child(3) {
  --wire-index: 3;
  left: 82%; /* Dây thứ ba */
  top: 10%;
  animation-duration: 5s;
}

.circle-wire:nth-child(4) {
  --wire-index: 4;
  left: 90%; /* Dây thứ tư */
  top: 65%;
  animation-duration: 7s;
}

.circle-wire:nth-child(5) {
  --wire-index: 5;
  left: 8%; /* Dây thứ năm */
  top: 95%;
  animation-duration: 7s;
}

.circle-wire:nth-child(6) {
  --wire-index: 6;
  left: 75%; /* Dây thứ sáu */
  top: 85%;
  animation-duration: 7s;
}

.circle-wires-container {
  position: relative;
  width: 100%; /* Chiều rộng toàn màn hình */
  height: 400px; /* Chiều cao vùng chứa */
  overflow: hidden; /* Ẩn phần dây dư thừa */
}

/* Các dây đỏ */
.circle-wire {
  position: absolute;
  width: 4px; /* Độ rộng dây */
  height: 100%; /* Chiều dài dây */
  z-index: 1;
  left: calc(10% * var(--wire-index)); /* Vị trí ngang của dây */
  animation: advanced-wave 5s infinite ease-in-out; /* Hiệu ứng uốn lượn */
}

@keyframes advanced-wave {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) translateX(-5px) rotate(5deg);
  }
  50% {
    transform: translateY(10px) translateX(10px) rotate(-5deg);
  }
  75% {
    transform: translateY(-10px) translateX(-5px) rotate(5deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}
.caro-inner {
  display: flex; /* Kích hoạt flexbox */
  flex-wrap: nowrap; /* Không cho phép quấn xuống dòng */
  overflow-x: scroll; /* Kích hoạt cuộn ngang */
  overflow-y: hidden; /* Ẩn cuộn dọc */
  scrollbar-width: none;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}

/* Tùy chỉnh thanh cuộn ngang */
.caro-inner::-webkit-scrollbar {
  display: none;
}

.caro-item {
  transition: padding 0.3s ease; /* Hiệu ứng chuyển đổi padding */
  flex: 0 0 12%; /* 12% của chiều rộng cha */
  background-color: aliceblue;
  display: inline-block;
  height: 40rem;
  width: 12rem;
  border-radius: 3rem;
  border: 0;
  position: relative;
  margin: 3rem 1rem;
}

.caro-inner .caro-item:nth-child(1),
.caro-inner .caro-item:nth-child(2),
.caro-inner .caro-item:nth-child(3),
.caro-inner .caro-item:nth-child(4),
.caro-inner .caro-item:nth-child(5) {
  flex: 0 0 30%; /* Tùy chỉnh chỉ phần tử đầu chiếm nhiều hơn */
}

.caro-inner {
  scrollbar-width: thin; /* Chỉ Firefox */
  scrollbar-color: #ccc transparent;
}

.caro-inner::-webkit-scrollbar {
  height: 8px;
}

.caro-inner::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.img-card {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35rem;
  width: 12rem;
  border-bottom-right-radius: 2rem;
}

.card-item h3 {
  text-align: center;
  margin: 2rem auto;
  padding-top: 1.5rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: #000000;
}

.container-part234 {
  background-color: white;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.content-part--two,
.content-part--three,
.content-part--four {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.content-part--five {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.img-part,
.text-part {
  text-align: center;
  width: 49%;
}

.text-part {
  text-align: left;
}

.text-part h3 {
  font-size: 3.5rem;
  font-weight: bold;
}

.img-part img {
  width: 100%;
  height: fit-content;
}

.container-part5 {
  background-color: #edefff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-part--two .text-part:nth-child(2),
.content-part--three .img-part:nth-child(2),
.content-part--four .text-part:nth-child(2),
.content-part--five .img-part:nth-child(2) {
  margin-left: 3rem;
}

/* Các liên kết tải ứng dụng */
.app-promo__links {
  margin-top: 3rem;
  display: flex; /* Sử dụng flexbox */
  justify-content: flex-start; /* Căn giữa các nút */
  gap: 2rem; /* Khoảng cách giữa các liên kết */
}

/* Liên kết đến các cửa hàng ứng dụng */
.app-link img {
  width: 150px; /* Chiều rộng hình ảnh */
  border-radius: 0.5rem; /* Bo góc */
  transition: transform 0.3s ease; /* Hiệu ứng khi hover */
}

/* Hiệu ứng hover */
.app-link img:hover {
  transform: scale(1.1); /* Phóng to nhẹ khi hover */
}

.text-part p,
.text-part button {
  margin-top: 2rem;
}

.text-part button {
  align-items: center;
  padding: 1rem 3rem;
}

.premium-container {
  align-items: center;
  margin: 12% auto 5%; /* Căn giữa theo chiều ngang */
  display: flex;
  flex-direction: column; /* Đưa các phần tử xếp theo chiều dọc */
  align-items: center;
  justify-content: center;
  color: white;
}

.premium-container h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

p.subtitle {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

p.subtitle span {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.subtitle {
  margin: 20px 0;
  font-weight: bold;
  align-items: center;
}

.pricing {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 40px;
}

.pricing-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pricing-card:nth-child(1) {
  position: relative;
}

.pricing-card .tag {
  position: absolute;
  top: -1rem;
  left: 35%;
  background-color: #ffd700;
  color: #11172b;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.pricing-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.pricing-card .price {
  font-size: 24px;
  margin: 10px 0;
  color: #ffd700;
}

.pricing-card button {
  background-color: #ffd700;
  color: #11172b;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.pricing-card button:hover {
  background-color: #ffc300;
  filter: brightness(1.2); /* Làm sáng hơn khi hover */
  transform: translateY(-2px); /* Hiệu ứng di chuyển lên nhẹ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Tăng bóng */
  transition: all 0.3s ease;
}

.subtitle .highlight:nth-child(1) {
  background-color: #8c7620;
  animation: blink 5s infinite; /* Hiệu ứng nhấp nháy */
}

.subtitle .highlight:nth-child(3) {
  background-color: #295f87;
  animation: blink 5s infinite; /* Hiệu ứng nhấp nháy */
}

.subtitle .highlight:nth-child(4) {
  background-color: #7d537f;
  animation: blink 5s infinite; /* Hiệu ứng nhấp nháy */
}

@keyframes blink {
  20% {
    opacity: 1;
    background-color: rgba(119, 52, 98, 0.614); /* Đổi màu nền tạm thời */
  }
  40% {
    opacity: 1; /* Mờ hoàn toàn */
    background-color: rgba(65, 119, 52, 0.667); /* Đổi màu nền tạm thời */
  }
  100% {
    opacity: 1; /* Trở lại bình thường */
  }
}
.how-it-works {
  text-align: center;
  margin-bottom: 2rem;
  background-color: white;
  padding: 5rem 0;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.step {
  width: 30%;
  text-align: left;
  padding: 3rem;
}

.step .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.pricing h1 {
  margin: 0 auto;
}

.pricing ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.pricing ul li {
  margin: 10px 0;
  color: white;
}

.pricing ul li i {
  color: #ffcd1f;
}

.pricing {
  margin-bottom: 5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.home-nav-container {
  background-color: #0a092d;
  z-index: 2;
}

.home-nav-item.search-item {
  text-align: center;
  padding: 1rem 0rem;
  background-color: #2e3856;
}
.home-nav-item.search-item input input::placeholder {
  color: white;
}

.home-nav {
  justify-content: normal;
}

.home-nav-container :nth-child(1) {
  flex: 0.05;
  text-align: center;
}

.home-nav-container :nth-child(2) {
  flex: 0.1;
  margin-left: 0;
  padding-left: 0;
}

.home-nav-container :nth-child(3) {
  flex: 0.85;
}

.home-nav-item a,
.home-nav-item button {
  font-size: 1.5rem;
  padding: 0rem 2rem;
}

.home-nav-item:nth-child(1) {
  padding: 0.5rem 2rem;
  flex: 0.6;
  text-align: left;
}

.home-nav-item:nth-child(2) {
  flex: 0.15;
  text-align: right;
}

.home-nav-item:nth-child(3) {
  flex: 0.1;
}

.home-nav-item:nth-child(4) {
  flex: 0.1;
  text-align: right;
}

.home-img-circle {
  border-radius: 50%;
  width: 65%;
}

.home-nav-container {
  display: flex;
  gap: 2rem;
}

.home-nav-item button div {
  overflow: hidden; /* Ẩn phần vượt quá */
  text-overflow: ellipsis;
  white-space: nowrap; /* Không xuống dòng */
}

.home-bar {
  background-color: #0a092d;
  position: fixed;
  top: 5%;
  z-index: 1;
  height: 100%;
  width: 6%;
}

.home-bar-menu {
  margin-top: 120%;
}

.home-bar-menu ul {
  display: flex;
  gap: 2rem;
  padding: inherit;
}

.icon-home {
  align-items: center;
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 0.2rem 0rem;
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.menu-text {
  display: none;
  color: white;
  width: 60%;
  font-size: 2rem;
}

.home-header {
  position: inherit;
}

.user-profile {
  position: absolute;
  top: 15%;
  left: 60%;
  border: 0.2rem solid white;
  width: 40rem;
  height: 20rem;
  background-color: #0a092d;
  border-radius: 1rem;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
}

.user-img {
  width: 15rem;
  height: 15rem;
  margin: 2.5rem;
}

.user-profile div {
  margin: 3.5rem 0.5rem;
  width: 50%;
  color: white;
}

.create-container {
  margin-top: 8%;
  margin-left: 10%;
  padding-right: 10%;
  margin-bottom: 3rem;
}

.flashcard-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.flashcard-item h5 {
  font-size: 18px;
  font-weight: bold;
}

.progress-bar {
  background-color: rgba(225, 232, 237, 0.5764705882);
}

.progress {
  height: 0.2rem;
  margin-top: 10px;
}

.create-container .create_div:nth-child(1) {
  display: flex;
  flex: 0.5 0.5;
  justify-content: space-between;
}
.create-container .create_div:nth-child(1) h1 {
  color: white;
  font-weight: bold;
}

.create-container .create_div:nth-child(2) {
  display: flex;
  gap: 2rem;
  margin: 2rem auto;
}
.create-container .create_div:nth-child(2) input {
  background-color: #2e3856;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  width: 100%;
  margin: 0 auto;
}
.create-container .create_div:nth-child(2) input:focus {
  outline: none;
  box-shadow: 0 0 5px #4255ff;
}
.create-container .create_div:nth-child(2) input::placeholder {
  color: gray;
}
.create-container .create_div:nth-child(2) input:last-child {
  margin-bottom: 0;
}
.create-container .create_div:nth-child(2) .create_div-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.create-container .create_div:nth-child(2) .create_div-item button {
  border: 2px solid #2e3856;
  border-radius: 50%;
  padding: 1rem;
  background-color: transparent;
}

.flashcard-ipt {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.flashcard-ipt-item {
  flex: 0.47;
  width: 45%;
}

.flashcard-ipt-item {
  display: flex;
  width: 100%;
}
.flashcard-ipt-item input {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #0a092d;
}
.flashcard-ipt-item input:hover {
  border-bottom: 5px solid #4255ff;
}

.flashcard-container button {
  color: #000000;
}
.flashcard-container button:hover {
  color: white;
  background-color: #4255ff;
}

.learn-container {
  margin-top: 8%;
  margin-left: 10%;
  padding-right: 10%;
}

.learn-card {
  background-color: white;
  border: 0.2rem solid #000000;
  border-radius: 2rem;
  width: 50%;
  height: 35%;
  padding: 1rem 2rem;
  margin: 0 auto;
}

/* PHẦN FOOTER */
#footer {
  background-image: url(../imgs/footer.gif);
  background-size: cover;
  background-position: bottom right;
  position: relative;
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  padding: 2rem;
  font-size: 2rem;
}

.footer--background {
  width: 100%;
  image-rendering: pixelated;
  /* Tablet */
  padding-right: 50px;
}

.footerbox {
  flex: 0.6 0.2 0.1;
  justify-content: space-around;
  gap: 5rem;
}

.footer_box {
  width: 100%;
  margin: auto 2rem;
}

.footer_box--1 {
  display: flex;
  justify-content: space-between;
}

.footer_box--2 {
  text-align: center;
}

.fontw {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.email_button {
  margin: auto;
  height: 4rem;
  width: 60%;
  border-radius: 0.8rem;
}

.footer_icon {
  display: flex;
  gap: 2rem;
}

.caro-item:hover {
  cursor: pointer;
  transform: scale(1.09);
  border-radius: 4rem;
}
.caro-item:hover .card-item h3 {
  color: white;
}

/* Giao diện cho dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown-content {
  display: none; /* Ẩn menu con */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  width: 250px;
}

.dropdown-item {
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f9f9f9;
}

/* Giao diện menu con */
.submenu {
  display: none; /* Ẩn menu con cấp 2 */
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu con cấp 2 */
.submenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.submenu a:hover {
  background-color: #f0f0f0;
}

/* Hiển thị menu khi hover */
.dropdown:hover .dropdown-content {
  display: block; /* Hiện menu con cấp 1 */
}

.dropdown-item:hover .submenu {
  display: block; /* Hiện menu con cấp 2 */
}/*# sourceMappingURL=index.css.map */